.vidContain {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

video {
    padding-top: 10%;
    padding-left: 4%;
    padding-right: 4%;
    width: 460px;
    transition: transform .2s;
}

video:hover {
    transform: scale(1.2);
}
